.detalhes {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


.quadro_1 {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #181818;
    border: 1px solid salmon;
}

.quadro_1 img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}


.quadro_2 {
    width: 40%;
}

.titulo {
    color: white;
    text-align: center;
    display: inline-block;
}

.versao {
    color: aqua;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
}

.avaliacao {
    color: gold;
}

.plataforma {
    display: flex;
    align-items: center;
    color: red;
    margin-block: 20px;
}

.frete {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: green;
}


.plataforma img {
    height: 20px;
    width: 20px;
    margin-inline: 5px;
    filter: brightness(0%) invert(80%);
}

.plataforma img:first-child {
    margin-left: 10px;
}

.descricao {
    color: white;
    text-align: start;
    margin-block: 20px;
}

.preco {
    color: lightgreen;
    font-size: 2rem;
    margin-block: 20px;
}

.star {
    margin-left: 5px;
}


.quadro_3 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;

}


.botao_comprar {
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 0px 5px;
    transition: .3s ease-in-out;
}

.botao_comprar:hover,
.botao_adicionar:hover {
    background-color: darkgreen;
}

.botao_adicionar {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}


.geral {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.geral p {
    text-indent: 20px;
}

.titulo_geral {
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-size: 1.25rem;
}

.carateristicas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 50px;
}

.carateristicas h3 {
    color: white;
    margin-block: 20px;
}

.carateristicas ul {
    color: white;
    padding-left: 20px;
}

.carateristicas ul li {
    margin-block: 15px;
    list-style: none;
    font-size: .9rem;
    font-weight: 300;
}

.divisor {
    width: 90%;
    margin: 0 auto;
    height: 3px;
    border: none;
    background-image: linear-gradient(90deg, transparent, red, transparent);
    margin-bottom: 50px;
}

.pagamentos {
    width: 50%;
}

.pagamentos h3 {
    color: #ffffff;
    margin-bottom: 20px;
}

.pagamentos ul li {
    list-style: none;
    margin-block: 10px;
    color: white;
}

.bandeiras {
    display: flex;
    align-items: center;
}

.carregando {
    font-size: 2rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.carregando p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}

.carregando p::after,
.carregando p::before {
    position: absolute;
    content: "";
    height: 300px;
    width: 100px;
    background: linear-gradient(90deg, transparent, red, transparent);
    animation: carregando .5s linear infinite;
}

.carregando p::before {
    background: #242424;
    height: 140px;
    width: 140px;
    z-index: 1;
    animation: none;
    border-radius: 50%;
}

@keyframes carregando {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.section {
    width: 110%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        color: white;
        margin-bottom: 20px
    }
}

section.imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 40vh;
}



.imagem img {
    width: 100%;
    max-width: 450px;
    height: 100%;
    object-fit: cover;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}



/* ---------------------------- config image-zoom */
[data-rmiz-content="found"] img {
    cursor: url('https://img.icons8.com/?size=20&id=715&format=png&color=000000'), auto;
}

[data-rmiz-modal-overlay="visible"] {
    background-color: #181818;
}


[data-rmiz-modal-img] {
    cursor: url('https://img.icons8.com/?size=20&id=717&format=png&color=000000'), auto;
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
}






@media screen and (max-width: 1366px) {
    .quadro_1 {
        width: 350px;
        height: 350px;
    }

    .quadro_2 {
        width: 50%;
    }


    .titulo {
        font-size: 1.5rem;
    }

    .versao {
        font-size: .8rem;
    }

    .preco {
        font-size: 1.5rem;
    }


    .plataforma {
        margin-block: 10px 15px;
    }

    .detalhes {
        font-size: .8rem;
        margin-block: 10px 15px;
    }

    .botao_comprar {
        font-size: 1rem;
        padding: 10px 15px;
        margin: 0px 5px;
    }

    .botao_adicionar {
        font-size: 1rem;
    }

}

@media screen and (max-width: 992px) {
    .detalhes {
        width: 95%;
        margin-block: 10px 15px;
    }

    .quadro_1 {
        width: 250px;
        height: 250px;
        margin-right: 20px;
    }

    .frete img {
        width: 40px;
        height: 40px;
    }

    .bandeiras img {
        width: 30px;
        height: 30px;
    }



    .titulo_geral {
        font-size: 1rem;
    }

    .descricao {
        font-size: .7rem;
    }

    .carateristicas {
        width: 120%;
    }

    .carateristicas ul li {
        font-size: .8rem;
    }


    .tituloImagens,
    .carateristicas h3 {
        text-align: center;
        font-size: .8rem;
    }


    .imagem img {
        margin: 5px 0px;
    }

    .botao_adicionar {
        padding: 12px 15px;
        font-size: 1rem;
    }
}



@media screen and (max-width: 650px) {

    .titulo {
        font-size: 1rem;
    }

    .versao {
        font-size: .5rem;
    }

    .preco {
        font-size: 1rem;
        margin-block: 5px 0px;
    }

    .plataforma {
        margin-block: 5px 5px;
    }

    .plataforma img {
        width: 15px;
        height: 15px;
    }

    .botao_comprar {
        font-size: .8rem;
        padding: 8px 10px;
        margin: 0px 5px;
    }

    .botao_adicionar {
        padding: 9px 15px;
        font-size: .8rem;
    }

    .descricao {
        font-size: .7rem;
    }

    .pagamentos {
        width: 100%;
    }
}


@media screen and (max-width: 540px) {
    .detalhes {
        width: 90%;
        flex-direction: column;
    }

    .quadro_2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quadro_3 {
        justify-content: center;
    }

    .linha {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, transparent, #fff, transparent);
        margin: 10px 0px;
    }

    .titulo {
        font-size: 1rem;
    }

    .versao {
        font-size: .5rem;
        margin-block: 5px 0px;
    }

    .descricao {
        text-align: center;
    }


    .bandeiras img {
        margin-bottom: 5px;
    }

    .pagamentos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pagamentos ul li {
        display: inline;
    }

    .pagamentos ul li:first-child {
        margin-right: 10px;
    }

    .titulo_geral {
        font-size: 1rem;
    }

    .descricao {
        font-size: .7rem;
    }

    .carateristicas {
        width: 120%;
    }

    .carateristicas ul li {
        font-size: .8rem;
    }


    .tituloImagens,
    .carateristicas h3 {
        text-align: center;
        font-size: .8rem;
    }


    .imagem img {
        margin: 5px 0px;
    }
}



@media screen and (max-width: 400px) {

    .quadro_1 {
        width: 200px;
        height: 200px;
        margin: 0px;
    }

    .quadro_3 {
        height: 50px;
    }

    .preco {
        font-size: .8rem;

    }

    .descricao {
        text-align: center;
        margin-block: 10px;
    }


    .frete img {
        width: 30px;
        height: 30px;
        margin-left: -30px;
    }


    .bandeiras img {
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }

    .pagamentos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: .6rem;
    }

    .pagamentos h3 {
        margin-bottom: 5px;
    }

    .pagamentos ul li {
        display: inline;
    }

    .pagamentos ul li:first-child {
        margin-right: 10px;
    }

    .titulo_geral {
        font-size: 1rem;
    }

    .carateristicas {
        width: 120%;
    }

    .carateristicas ul li {
        font-size: .8rem;
    }


    .tituloImagens,
    .carateristicas h3 {
        text-align: center;
        font-size: .8rem;
    }


    .imagem img {
        margin: 5px 0px;
    }
}