.store {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.store h3 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #fff;
}

.store ul {
    list-style: none;
}

.store ul li {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-weight: 300;
    padding-block: .25rem;
}

strong {
    text-transform: uppercase;
    font-weight: 900;
}

.carousel img {
    height: auto;
    width: 97%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #181818;
    user-select: none;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    user-select: none;
    
}

.teste::after {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, #181818, transparent);
    opacity: 1;
    width: 10%;
    height: 100%;
    z-index: 1222;
    top: 0;
    left: -1px;
}

.teste::before {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, transparent, #181818);
    opacity: 1;
    width: 10%;
    height: 100%;
    z-index: 1222;
    top: 0;
    right: -1px;
}


.teste {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0px;
    overflow: hidden;
}


@media screen and (max-width: 1280px) {
    .store h3 {
        font-size: 1.2rem;
    }

    .store ul li {
        font-size: .8rem;
    }

}


@media screen and (max-width: 992px) {

    .store h3 {
        font-size: 1rem;
    }

    .store ul li {
        font-size: .8rem;
        margin-bottom: 5px;
    }

    strong {
        font-size: .7rem;
    }
}


@media screen and (max-width: 768px) {
    .store ul li {
        font-size: .7rem;
        margin-bottom: 5px;
    }
}

@media screen and (min-width:390px) and (max-width: 478px){
    .store h3{
        font-size: .9rem;
    }

    .store ul li{
        font-size: .7rem;
    }

    strong{
        font-size: .6rem;
    }
}


@media screen and (max-width:389.9px){
    .store ul li{
        font-size: .65rem;
    }

    .carousel img{
        width: 98%;
        border-radius: 5px;
    }

    .teste{
        width: 100%;
    }
}