.container {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h3 {
    color: #fff;
    font-size: 1.7rem;
    z-index: 1;
}




.mais {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 700px;
    width: 100%;
    margin: 0 auto;
}


.mais ol {
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.mais ol li {
    list-style: disc;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
    margin: 10px 0px;
}

.mais img {
    height: 350px;
}

@media screen and (max-width: 1280px) {
    /* .container{
        padding-top: 20px;
    } */

    .container h3{
        font-size: 1.5rem;
    }

    .mais{
        height: 500px;
    }

    .mais ol li{
        font-size: .8rem;
        margin: 0px;
    }

    .mais img{
        height: 250px;
    }
}

@media screen and (max-width: 992px) {

    .container{
        width: 95%;
    }

    .container h3{
        font-size: 1.2rem;
    }

    .mais{
        height: 400px;
    }

    .mais ol li{
        font-size: .7rem;
        margin: 0px;
        
    }   

    .mais ol{
        height: 250px;
    }


    .mais img{
        height: 200px;
    }
    
}


@media screen and (max-width: 768px) {

    .mais{
        height: 350px;
        width: 100%;
    }

    .mais ol li{
        font-size: .6rem;
        margin: 5px 0px;
        list-style: none;
    }

    .mais ol{
        width: 55%;
    }

    .mais img{
        height: auto;
        width: 200px;
        margin-left: 10px;
    }
}


@media screen and (min-width:390px) and (max-width: 478px){
    .container h3{
        font-size: .9rem;
    }

    .mais{
        flex-direction: column-reverse;
        padding-top: 50px;
        height: auto;
    }

    .mais img{
        height: 120px;
    }

    .mais ol{
        width: 100%;
        justify-content: space-evenly;
        height: 250px;
    }

    .mais ol li{
        font-size: .7rem;
        margin: 0px;
        text-align: center;
        justify-content: space-between;
    }
}


@media screen and (max-width:389.9px){
    .container h3{
        font-size: .9rem;
    }

    .mais{
        flex-direction: column;
        padding-top: 20px;
        height: auto;
    }

    .mais img{
        height: 100px;
    }

    .mais ol{
        width: 100%;
        justify-content: space-evenly;
        height: 250px;
    }

    .mais strong{
        font-size: .6rem;
    }

    .mais ol li{
        font-size: .65rem;
        margin: 0px;
        text-align: center;
        justify-content: space-between;
    }
}