.home {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.home h1 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 1.8rem;
    border-right: 3px solid transparent;
    width: 43ch;
    animation: typing 2s,
        cursor 3s;
    overflow: hidden;
    white-space: nowrap;
}


@keyframes cursor {
    50% {
        border-color: white;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.img_software img {
    height: auto;
}

.img_software {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 500px;
    height: 400px;
    border-radius: 5px;
    perspective: 1000px;
    animation: animacao 5s alternate infinite;
    background-color: darkblue;
}


@keyframes animacao {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.text {
    height: 350px;
    width: 50%;
    color: #fff;
    font-size: 2em;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .home h1{
        font-size: 1.5rem;
    }

    .img_software{
        height: 250px;
        width: 350px;
    }

    .text{
        font-size: 1.4em;
        height: 250px;
    }
}

@media screen and (max-width: 992px) {

    .home h1{
        font-size: 1.2rem;
    }

    .img_software{
        height: 200px;
        width: 300px;
    }

    .text{
        font-size: 1em;
        height: 200px;
    }
}


@media screen and (max-width: 768px) {
    .home{
        width: 95%;
    }


    .home h1{
        font-size: 1rem;
    }

    .img_software{
        width: 200px;
    }

    .img_software img{
        height: 200px;
    }

    .text{
         width: 50%;
         height: auto;
         font-size: .9rem;
         text-align: center;
    }
    
}


@media screen and (min-width:390px) and (max-width: 478px){
    .home{
        padding-top: 50px;
    }

    .home h1{
        font-size: .8rem;
    }

    .container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 360px;
    }

    .img_software{
        width: 300px;
        height: 200px;
        animation: none;
    }

    .img_software img{
        height: 300px;
        border-radius: 20px;
    }

    .text{
        height: 150px;
         width: 95%;
         display: flex;
         justify-content: space-around;
         align-items: center;
    }
    
}


@media screen and (max-width:389.9px){
    .home{
        padding-top: 100px;
    }

    .home h1{
        font-size: .9rem;
        animation: none;
        width: 100%;
        white-space: normal;
        text-align: center;
    }

    .container{
        height: 350px;
    }

    .img_software{
        width: 250px;
        height: 150px;
        animation: none;
    }

    .img_software img{
        height: 250px;
    }

    .text{
        height: 200px;
         width: 95%;
         font-size: .8rem;
         text-align: center;
         line-height: 20px;
    }
}